In [40]:
from seaborn import load_dataset
import numpy as np
import pandas as pd

In [18]:
data = load_dataset("mpg")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [13]:
data_numerics = data.drop(["origin", "name"], axis =1)

In [28]:
data.head()
print(f"Any nans? {np.isnan(data_numerics).any()}")

Any nans? mpg             False
cylinders       False
displacement    False
horsepower       True
weight          False
acceleration    False
model_year      False
dtype: bool

In [32]:
data.query('horsepower.isnull()', engine='python')

      mpg  cylinders  displacement  ...  model_year  origin                  name
32   25.0          4          98.0  ...          71     usa            ford pinto
126  21.0          6         200.0  ...          74     usa         ford maverick
330  40.9          4          85.0  ...          80  europe  renault lecar deluxe
336  23.6          4         140.0  ...          80     usa    ford mustang cobra
354  34.5          4         100.0  ...          81  europe           renault 18i
374  23.0          4         151.0  ...          82     usa        amc concord dl

[6 rows x 9 columns]

In [43]:
horsepowers = {
    'ford pinto' : 100,
    'ford maverick' : 84,
    'renault lecar deluxe':54,
    'ford mustang cobra': 119,
    'renault 18i':81.5,
    'amc concord dl':82
}