In [35]:
import os 
import numpy as np
import pandas as pd

original_train_dir = os.path.abspath("./original_data/train/train")
train_pictures = os.listdir(original_train_dir)

df = pd.DataFrame(train_pictures, columns = ['filename'])
df['label'] = df.filename.str[:3]
df
    
#np.random.randint()

            filename label
0       dog.8011.jpg   dog
1       cat.5077.jpg   cat
2       dog.7322.jpg   dog
3       cat.2718.jpg   cat
4      cat.10151.jpg   cat
...              ...   ...
24995   dog.8008.jpg   dog
24996   dog.1992.jpg   dog
24997  dog.12412.jpg   dog
24998   cat.2701.jpg   cat
24999  cat.10148.jpg   cat

[25000 rows x 2 columns]

In [42]:
rand_indexes = np.random.randint(0,24999, size = 10)
rand_pics = df.loc[rand_indexes]

In [43]:
rand_pics

           filename label
14996  cat.4275.jpg   cat
18823  cat.8566.jpg   cat
3942   dog.3976.jpg   dog
10476  cat.8133.jpg   cat
21110  dog.8807.jpg   dog
19941  cat.1966.jpg   cat
6489   cat.3673.jpg   cat
14274  dog.8911.jpg   dog
8132   dog.5780.jpg   dog
4675   cat.5058.jpg   cat